.idea
.vscode
*.code-workspace
*.pyc
*~
.venv
venv
db.sqlite3
.sass-cache/
celerybeat-schedule
botminds/localsettings.py
botminds/local.py
static_root/
node_modules/
# ai assistants
.claude/settings.local.json
openapitools.json
media/
docs/_build
_dist/
.env
.env.production
.DS_Store
.direnv
.envrc
# uncomment these lines after setting up the front-end build pipeline in dev and production
# static/css/
# static/js/
